<mat-card *ngIf="mostrarLista">
  <mat-card-title>Legitimo Abono

  </mat-card-title>
  <mat-card-actions>
    <button mat-button (click)="nuevo()">NUEVO</button>
  </mat-card-actions>
  <mat-card-content>
    <div class="mat-elevation-z8" >
      <table mat-table class="full-width-table" matSort aria-label="Elements">

        <!-- Id Column -->
        <ng-container matColumnDef="organismo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>organismo</th>
          <td mat-cell *matCellDef="let row">{{row.organismo}}</td>
        </ng-container>

         <!-- nombre Column -->
        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>proveedor</th>
          <td mat-cell *matCellDef="let row">{{row.proveedor}}</td>
        </ng-container>

         <!-- apellido Column -->
        <ng-container matColumnDef="fecha inicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha inicio</th>
          <td mat-cell *matCellDef="let row">{{row.fechainicio}}</td>
        </ng-container>

         <!-- cuil Column -->
         <ng-container matColumnDef="fecha fin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha fin</th>
          <td mat-cell *matCellDef="let row">{{row.fechafin}}</td>
        </ng-container>

         <!-- mail Column -->
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>monto</th>
            <td mat-cell *matCellDef="let row">{{row.monto}}</td>
          </ng-container>

         <!-- Organismo Column -->
          <ng-container matColumnDef="justificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>justificacion</th>
            <td mat-cell *matCellDef="let row">{{row.justificacion}}</td>
          </ng-container>

          <!-- Cargo Column -->
          <ng-container matColumnDef="acto dispositivo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>acto dispositivo</th>
            <td mat-cell *matCellDef="let row">{{row.actodispositivo}}</td>
          </ng-container>

          <!-- usuario Column -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>usuario</th>
            <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
          </ng-container>

          <!-- fecha Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha</th>
            <td mat-cell *matCellDef="let row">{{row.fecha}}</td>
          </ng-container>

          <!-- Accion Column -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="editar(row)">
                <mat-icon>menu</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="mostrarFormulario">
  <mat-card-title *ngIf="!editando">Nuevo Legitimo Abono</mat-card-title>
  <mat-card-title *ngIf="editando">Modificar Leg. Abono</mat-card-title>
  <mat-card-content class="formulario">
    <mat-form-field appearance="fill">
      <mat-label>Organismo</mat-label>
      <input matInput name="organismo" [(ngModel)]="objeto.idOrganismo" #organismo="ngModel">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>proveedor</mat-label>
      <input matInput name="proveedor" [(ngModel)]="objeto.proveedor" #proveedor="ngModel">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <input matInput name="descripcion" [(ngModel)]="objeto.descripcion" #descripcion="ngModel">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>fecha Inicio</mat-label>
      <input matInput  name="fecha Inicio" [(ngModel)]="objeto.fechaInicio" #fechaInicio="ngModel" placeholder="00-00000000-0">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>fecha Fin</mat-label>
      <input matInput  name="fecha Fin" [(ngModel)]="objeto.fechaFin" #fechaFin="ngModel" placeholder="00-00000000-0">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>monto</mat-label>
      <input matInput  name="monto" [(ngModel)]="objeto.monto" #monto="ngModel" placeholder="00-00000000-0">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>justificacion</mat-label>
      <input matInput  name="justificacion" [(ngModel)]="objeto.justificacion" #justificacion="ngModel" placeholder="00-00000000-0">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>acto Dispositivo</mat-label>
      <input matInput  name="acto Dispositivo" [(ngModel)]="objeto.actoDispositivo" #actoDispositivo="ngModel" placeholder="00-00000000-0">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <mat-select  name="idusuario" [(ngModel)]="objeto.idusuario" #idusuario="ngModel">
        <mat-option *ngFor="let organismo of organismos" [value]="organismo.id">{{organismo.denominacion}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput name="fecha" [(ngModel)]="objeto.fecha" #fecha="ngModel">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="modificar()" *ngIf="editando">INGRESAR</button>
    <button mat-button (click)="aceptar()" *ngIf="!editando">INGRESAR</button>
    <button mat-button (click)="cancelar()">CANCELAR</button>
          </mat-card-actions>
</mat-card>


