<mat-card *ngIf="mostrarLista">
  <mat-card-title>Empleados

  </mat-card-title>
  <mat-card-actions>
    <button mat-button (click)="nuevo()">NUEVO</button>
  </mat-card-actions>
  <mat-card-content>
    <div class="mat-elevation-z8" >
      <table mat-table class="full-width-table" matSort aria-label="Elements">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

         <!-- nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>

         <!-- apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let row">{{row.apellido}}</td>
        </ng-container>

         <!-- cuil Column -->
         <ng-container matColumnDef="cuil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuil</th>
          <td mat-cell *matCellDef="let row">{{row.cuil}}</td>
        </ng-container>

         <!-- mail Column -->
          <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
            <td mat-cell *matCellDef="let row">{{row.mail}}</td>
          </ng-container>

         <!-- Organismo Column -->
          <ng-container matColumnDef="organismo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>organismo</th>
            <td mat-cell *matCellDef="let row">{{row.organismo}}</td>
          </ng-container>

          <!-- Cargo Column -->
          <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>cargo</th>
            <td mat-cell *matCellDef="let row">{{row.cargo}}</td>
          </ng-container>

          <!-- Accion Column -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="editar(row)">
                <mat-icon>menu</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="mostrarFormulario">
  <mat-card-title *ngIf="!editando">Nuevo Empleado</mat-card-title>
  <mat-card-title *ngIf="editando">Modificar Empleado</mat-card-title>
  <mat-card-content class="formulario">
    <mat-grid-list cols="2" rowHeight="300px" class="grid-layout-custom"> 
      <mat-grid-tile> 
        <div class="formulario">
          <mat-form-field appearance="legacy" class="fields-form">
            <mat-label>Nombre</mat-label>
            <input matInput name="nombre" [(ngModel)]="objeto.nombre" #nombre="ngModel" class="fields-form">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="fields-form">
            <mat-label>Apellido</mat-label>
            <input matInput name="apellido" [(ngModel)]="objeto.apellido" #apellido="ngModel" class="fields-form">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Cuil</mat-label>
            <input matInput  name="cuil" [(ngModel)]="objeto.cuil" #cuil="ngModel" placeholder="00-00000000-0">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="fields-form">
            <mat-label>Email</mat-label>
            <input matInput name="mail" [(ngModel)]="objeto.mail" #mail="ngModel" class="fields-form">
          </mat-form-field>
        </div> 
      </mat-grid-tile>
      <mat-grid-tile> 
        <div class="formulario">
          <mat-form-field appearance="legacy" class="fields-form-min">
            <mat-label>Organismo</mat-label>
            <mat-select  name="idOrganismo" [(ngModel)]="objeto.idOrganismo" #idOrganismo="ngModel">
              <mat-option *ngFor="let organismo of organismos" [value]="organismo.id">{{organismo.denominacion}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="fields-form">
            <mat-label>Cargo</mat-label>
            <input matInput name="cargo" [(ngModel)]="objeto.cargo" #cargo="ngModel" class="fields-form">
          </mat-form-field>
        </div> 
      </mat-grid-tile>
    </mat-grid-list> 
  </mat-card-content>
  <div class="centrado-botones">
    <mat-card-actions>
      <button mat-button (click)="modificar()" *ngIf="editando" class="exitoso">INGRESAR</button>
      <button mat-button (click)="aceptar()" *ngIf="!editando" class="exitoso">INGRESAR</button>
      <button mat-button (click)="cancelar()" class="cancelar">CANCELAR</button>
    </mat-card-actions>
  </div>
</mat-card>

