<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="tablero" *ngIf='chequeoPermisos("PERMIT_ADMINISTRATE")'>Tablero</a>
      <mat-list-item disabled=true *ngIf='chequeoPermisos("PERMIT_ADMINISTRATE")'>ADMINISTRACION</mat-list-item >
        <a mat-list-item href="usuarios" *ngIf='chequeoPermisos("PERMIT_ADMINISTRATE")'>Usuarios</a>
        <a mat-list-item href="empleado" *ngIf='chequeoPermisos("PERMIT_ADMINISTRATE")'>Empleados</a>
        <a mat-list-item href="proveedores" *ngIf='chequeoPermisos("PERMIT_ADMINISTRATE")'>Proveedores</a>
        <a mat-list-item href="organismo">Organismos</a>
      <mat-list-item disabled=true>LEGITIMOS ABONOS</mat-list-item >
        <a mat-list-item href="legitimo">Carga</a>
        <a mat-list-item href="blegitimo">Búsqueda por organismo</a>
        <a mat-list-item href="blegitimop">Búsqueda por proveedor</a>
        <a mat-list-item href="blegitimoid">Búsqueda por id de legitimo abono</a>
        <!-- <a mat-list-item href="listados">Listados</a>
        <a mat-list-item href="reportes">Reportes</a> -->
      <mat-list-item disabled=true></mat-list-item >
        <a mat-list-item href="login">Salir</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Legitimo Abono</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
