<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="tablero">Tablero</a>
      <mat-list-item disabled=true>ADMINISTRACION</mat-list-item >
      <a mat-list-item href="usuarios">Usuarios</a>
      <a mat-list-item href="empleado">Empleados</a>
      <a mat-list-item href="organismo">Organismos</a>
      <mat-list-item disabled=true>LEGITIMOS ABONOS</mat-list-item >
        <a mat-list-item href="usuarios">Carga</a>
        <a mat-list-item href="listados">Listados</a>
        <a mat-list-item href="reportes">Reportes</a>
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Legitimo Abono</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
